@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-style: SF Mono;
}

h2 {
    padding-top: 100px;
}

.contact-form {
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 50px;
    margin: 0 auto;
    text-align: center;
    max-width: 1000px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
}


.contact-form input[type="text"],
.contact-form textarea,
.contact-form input[type="email"] {
    width: 100%;
    padding: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    background-color: #fefefe;
}


.contact-form input[id="email"],
.contact-form input[id="name"] {
    max-width: 300px;
}

.contact-form input[type="text"]:hover,
.contact-form textarea:hover,
.contact-form input[type="email"]:hover {
    background-color: #f1f1f1;
}


.contact-form button[type="submit"] {
    background-color: #fefefe;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
}

.contact-form button[type="submit"]:hover {
    background-color: #f1f1f1;
}


.contact-form input[type="radio"] {
    margin: 10px;
}


@media (min-width: 800px) {
    .contact-form-pair {
        margin-bottom: 10px;
        padding: 20px;
        align-items: center;
    }
}